body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.page-header {
    margin: auto;
    width: 100%;
    height: 125px;
    background: #ffffff;
    padding: 10px;
    text-align: center;
    line-height: 125px;
}

.main-title {
    font-size: 60px;
    color: #d85c27;
}

.main-hr {
    border-top: 3px solid #d85c27;
    margin-top: 0px;
    margin-bottom: 0px
}

.results-list-hr {
    border-top: 1.5px solid #d85c27;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
}

.page-body {
    padding-top: 100px;
    background: #efefef;
    height: 100em;
    text-align: center;
}

.page-body-add-client {
    padding-top: 50px;
    background: #efefef;
    height: 100em;
    text-align: center;
}

.body-title {
    font-size: 40px;
    color: #2f5c8f;
    margin: auto;
    width: 50%;
}

.login-title {
    font-size: 40px;
    color: #2f5c8f;
    padding-right: 300px;
}

.main-page-content {
    padding-top: 25px;
    margin: auto;
    background: #ffffff;
    height: 500px;
    width: 700px;
    font-size: 30px;
    color: #2f5c8f;
    text-align: left;
    padding-left: 125px;
    border-radius: 20px;
}

.login-page-content {
    padding-top: 25px;
    margin: auto;
    background: #ffffff;
    height: 350px;
    width: 400px;
    font-size: 30px;
    color: #2f5c8f;
    text-align: left;
    border-radius: 20px;
}

.staff-management-page-content {
    padding-top: 25px;
    margin: auto;
    background: #ffffff;
    height: 350px;
    width: 700px;
    font-size: 30px;
    color: #2f5c8f;
    text-align: left;
    padding-left: 125px;
    border-radius: 20px;
}

.add-client-page-content {
    padding-top: 25px;
    margin: auto;
    background: #ffffff;
    height: 600px;
    width: 700px;
    font-size: 30px;
    color: #2f5c8f;
    text-align: left;
    padding-left: 125px;
    border-radius: 20px;
}

.textbox-label-general-purpose {
    float: left;
    width: 50%;
    padding-top: 20px;
}

.button-with-text-above {
    float: left;
    width: 50%;
    padding-top: 20px;
}

.textbox-with-label-above{
    margin : auto;
    width: 40%;
}

.login-button-container {
    margin: auto;
    width: 50%;
}

.add-button-container {
    padding-top: 300px;
    margin: auto;
    width: 100%;
}

.add-client-button-container {
    padding-top: 350px;
    margin: auto;
    width: 100%;
}

.button-one-row {
    display: inline-block;
    float: left;
    width: 50%;
}

.button-two-row {
    display: inline-block;
    float: right;
    width: 50%;
}

.submit-button {
    background-color: #d85c27;
    border: 2px solid #d85c27;
    color: white;
    padding: 15px 0px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 6px;
    transition-duration: 0.4s;
}

.submit-button:hover {
    background-color: #ffffff;
    color: #d85c27;
}

.back-button {
    background-color: #2f5c8f;
    border: 2px solid #2f5c8f;
    color: white;
    padding: 15px 0px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 6px;
    transition-duration: 0.4s;
    float: left;
}

.back-button:hover {
    background-color: #ffffff;
    color: #2f5c8f;
}

.dropdown-list {
    width: 150px;
    height: 25px;
    border: solid 2px #d85c27;
    border-radius: 5px;
}

.field-validator{
    height: 25px;
    color: red;
    font-size: 12px;
}

.field-validator-login {
    padding-left: 125px;
    height: 50px;
    color: red;
    font-size: 12px;
}

.text-information {
    padding-top: 150px;
}

.p-information-text {
    font-size: 18px;
}